/*
	Fabian Puszies 
	
*/
* {
	margin: 0;
	padding: 0;
}
#playlist {
	top:0;
	height: 50%;
	right: 0;
	position: absolute;
}
#playlist ul {
	list-style: none;
}
#playlist li a{
	text-decoration: none;
	color: red;
}
#playlist li {
	
}
#playlist li.current a{
	color: green;
}
#search-container {
	top:50%;
	right:0;
	height: 50%;
	position:absolute;
}
